{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - categories{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1 class="text-center text-danger">Liste de Categories des Annonces</h1>

    <table class="table table-danger text-center">
        <thead>
        <tr>
            <th>Code</th>
            <th>Categorie</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categoryList %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('advert_index') }}">Retour à la liste des Annonces</a>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
