{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - affichage{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Liste des annonces</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('advert_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.user }},
                le {{ advert.createdAt|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>


{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
