{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Ajouter!{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <h2>Ajouter un nouvel utilisateur</h2>

    {{ include('user/_form.html.twig') }}

    <div class="text-center">
        <a href="{{ path('advert_index') }}" role="button" class="btn btn-danger">Retour à la liste des Annonces</a>
    </div>

{% endblock %}
{% block footer %}
    <h4 class="text-danger text-right">
        {{ copyright }}
    </h4>
{% endblock %}