{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - users{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1 class="text-center text-danger">Liste des Utilisateurs</h1>
    <div>
        <a href="{{ path('user_add') }}" role="button" class="btn btn-danger">Create new</a>
    </div>
    <table class="table table-danger text-center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userList %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" role="button" class="btn btn-danger">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" role="button" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('advert_index') }}" role="button" class="btn btn-danger">Retour à la liste des Annonces</a>
    </div>
{% endblock %}
{% block footer %}
    <h4 class="text-danger text-right">
        {{ copyright }}
    </h4>
{% endblock %}
